
{% load staticfiles %}

<html>
	<head>
		<title>Andy's blog</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
       	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
       	<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    	<body>
			<div class="page-header">
    			<h1><a href="/">Andy's Blog</a></h1>
			</div>
			<div class="content">
    			<div class="row">
        			<div class="col-md-8">
						{% block content %}
							<div class="date">
        						{% if post.published_date %}
           						{{ post.published_date }}
        						{% endif %}
        						<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    						</div>
   								<h1>{{ post.title }}</h1>
   								<p>{{ post.text }}</p>
						{% endblock %}
			        </div>
    			</div>
			</div>
		</body>
</html>