
{% load staticfiles %}

<html>
	<head>
		<title>Andy's blog</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
       	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
       	<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    	<body>
			<div class="page-header">
				<a href="{% url 'blog.views.post_new' %}" class="top-menu"><span class="glyphicon glyphicon-pencil"></span></a>
    			<h1><a href="/">Andy's Blog</a></h1>
			</div>
			<div class="content">
    			<div class="row">
        			<div class="col-md-8">
						{% for post in posts %}
    						<div class="post">
       				 			<p>Published: {{ post.created_date }}</p>
       				 			<h1><a href="{% url 'blog.views.post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
       				 			<p>{{ post.text|linebreaks }}</p>
   				 			</div>
						{% endfor %}
			        </div>
    			</div>
			</div>
		</body>
</html>